<!DOCTYPE html>
<html>
<head>
  <title>StarterRubyRails</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <% if privileged_access? %>
    <div id="toolbar">
      <form method="GET">
        <label for="releaseSelector">See this website: </label>
        <select id="releaseSelector" name="ref" onchange="this.form.submit()">
          <% if !api.refs.map{|_,r| r.ref }.include?(@ref) %>
            <option>?</option>
          <% end %>
          <option value="" <% if @ref == api.master %>selected="selected"<% end %>>As currently seen by guest visitors</option>
          <optgroup label="Or preview the website in a future release:">
            <% api.refs.reject{|_,r| r.master? }.each do |_, ref| %>
              <option value="<%= ref.ref %>" <% if @ref == ref.ref %>selected="selected"<% end %>>
                As <%= ref.label %> <%= ref.scheduled_at && ref.scheduled_at.strftime("%Y-%m-%d") %>
              </option>
            <% end %>
          </optgroup>
        </select>
      </form>
    </div>
    <hr />
  <% end %>
  <a href="/">
    <h1>Your prismic.io project</h1>
  </a>
</header>

<%= yield %>

<footer>
  <hr />
  <% if connected? %>
    <%= link_to signout_path do %>Sign out<% end %>
  <% else %>
    <%= link_to signin_path do %>Sign in to preview changes<% end %>
  <% end %>
</footer>

</body>
</html>
