<!DOCTYPE html>
<html>
<head>
  <title>StarterRubyRails</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <a href="/">
    <h1>Your prismic.io project</h1>
  </a>
</header>

<%= yield %>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<% # This is required for the edit button. %>
<script>
  window.prismic = { endpoint: '<%= endpoint %>' };
</script>
<% # This file is required for Experiments and Previews. %>
<script src="//static.cdn.prismic.io/prismic.min.js"></script>
<% # You can safely remove this block if you don't use experiments - your Google Analytics block should be before this tag %>
<% render 'partials/experiments', :google_id => @google_id %>

</body>
</html>
