<!DOCTYPE html>
<html>
<head>
  <title>StarterRubyRails</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <% if privileged_access? %>
    <div id="toolbar">
      <form method="GET">
        <label for="releaseSelector">See this website: </label>
        <select id="releaseSelector" name="ref" onchange="this.form.submit()">
          <% if !api.refs.map{|_,r| r.ref }.include?(ref) %>
            <option>?</option>
          <% end %>
          <option value="" <% if ref == api.master %>selected="selected"<% end %>>As currently seen by guest visitors</option>
          <optgroup label="Or preview the website in a future release:">
            <% api.refs.reject{|_,r| r.master? }.each do |_, r| %>
              <option value="<%= r.ref %>" <% if ref == r.ref %>selected="selected"<% end %>>
                As <%= r.label %> <%= r.scheduled_at.try(:strftime, "%Y-%m-%d") %>
              </option>
            <% end %>
          </optgroup>
        </select>
      </form>
    </div>
    <hr />
  <% end %>
  <a href="/<%= "?ref=#{maybe_ref}" if maybe_ref %>">
    <h1>Your prismic.io project</h1>
  </a>
</header>

<%= yield %>

<footer>
  <hr />
  <% if connected? %>
    <%= link_to signout_path do %>Sign out<% end %>
  <% else %>
    <%= link_to signin_path do %>Sign in to preview changes<% end %>
  <% end %>
</footer>

<% # This file is required for Experiments and Previews. %>
<script src="//static.cdn.prismic.io/prismic.min.js"></script>
<% # Uncomment the tag below to activate experiments - your Google Analytics block should be before this tag %>
<% render 'partials/experiments', :google_id => @google_id %>

</body>
</html>
